.main-block {
  display: flex;
  justify-content: center;
  border: 1px solid black;
}

.container {
  border: 1px solid black;
  width: 1180px;
  padding: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.block {
  width: 100px;
  height: 100px;
}
.block-orange {
  padding: 15px;
  background-color: orange;
}
.block-black {
  padding: 15px 0;
  background-color: black;
  color: wheat;
}
.block-blue {
  margin: 5px 0;
  background-color: blue;
  color: rgb(199, 192, 183);
}
/*.container{
    border: black 1px solid;
    width: 1180px;
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif
}

.block{
    width: 100px;
    height: 100px;
}
.block-orange{
    padding: 15px;
    background-color: orange;
}
.block-black{
    padding: 15px 0;
    background-color: black;
    color: wheat;
}
.block-blue{
    margin: 15px 0;
    background-color: blue;
}
*/
